/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Source Code Pro;
    @apply text-white;
}

h1 {
    @apply text-6xl;
}