@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        height: -webkit-fill-available;
    }
    
	body {
        min-height: 100vh;
        min-height: -webkit-fill-available;

		--bg-gradient-left: hsl(var(--s) / 0.2);
		--bg-gradient-right: hsl(var(--p) / 0.1);
		background-image: radial-gradient(at 0 -100px, var(--bg-gradient-left) 0px, rgba(0, 0, 0, 0) 50%),
			radial-gradient(at 98% 100px, var(--bg-gradient-right) 0px, rgba(0, 0, 0, 0) 50%);
	}
}
