@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    html,
    body {
        overflow-x: clip;
    }

    html {
        height: 100dvh;
    }

    body {
        min-height: 100dvh;
    }
}
